/* media query */

/* se (minha tela for menor ou igual a 990px) então faça alguma coisa */

@media(max-width: 990px){
    #bemVindo{
        display: block;
    }
}

@media(max-width: 823px){
    main #form #form-formulario{
        background-image: none;
    }
}

@media(max-width: 607px){
    main #beneficios #beneficios-servicos{
        display: block;
    }
}

/* aqui começa o registro */
@media (max-width: 390px) {
    main #form #form-formulario form button, .form-formulario-cadastrar,
    main #form #form-formulario form input {
        width: 100%;
    }
}
/* aqui termina o registro. */


@media(max-width: 320px){

    .form-registro .grid-2, .form-registro .grid-4, .form-registro .grid-3 {
        display: block;
    }
    .form-clientes .form-registro form .botao {
        display: block;
    }
}

@media(max-width:320px){
    .form-clientes .form-registro #botao form .btn-verde, .form-clientes .form-registro form .botao .btn-vermelho{
        width: auto;
    }
}


@media (max-width: 420px) {
    .form-clientes .form-registro form .botao button {
        width: 90%;
    }
}
