/* media query */

/* se (minha tela for menor ou igual a 990px) então faça alguma coisa */

@media(max-width: 990px){
    #bemVindo{
        display: block;
    }
}

@media(max-width: 823px){
    main #form #form-formulario{
        background-image: none;
    }
}

@media(max-width: 607px){
    main #beneficios #beneficios-servicos{
        display: block;
    }
}

/* aqui começa o registro */
@media (max-width: 390px) {
    main #form #form-formulario form button, .form-formulario-cadastrar,
    main #form #form-formulario form input {
        width: 100%;
    }
}
/* aqui termina o registro. */