/* media query */

/* se (minha tela for menor ou igual a 990px) então faça alguma coisa */

@media(max-width: 990px){
    #bemVindo{
        display: block;
    }
}

@media(max-width: 823px){
    main #form #form-formulario{
        background-image: none;
    }
}

@media(max-width: 607px){
    main #beneficios #beneficios-servicos{
        display: block;
    }
<<<<<<< HEAD
}


@media(max-width: 320px){
    main #storymapper-dashboard div{
        width: auto;
    }
}

=======
}
>>>>>>> cbc2f55727f472ac951190a919fac8199e830e57
