/* Configuração para cores */
:root{
    --cor--principal: #EA1C81;
    --cor--topo: #D8F1FB82;
    --cor--preta: black;
    --cor--branca: white;
    --cor--roxo: purple;
    --cor--fundo: #FAFBFF;
}

*{
    margin: 0px;
    /* padding é espaçamento interno */
    padding: 0px;
    transition: all 1s;
    font-family: 'Roboto', sans-serif;
    /* desconsidera o espaço extra e deixa alinhado */
    box-sizing: border-box;
}

#header{
    background-color: var(--cor--topo);
    display: flex;
    /* space-between coloca na borda */
    justify-content: space-between;
    align-items: center;
}

#header nav a{
    text-decoration: none;
    /* color pinta as letras */
    color: var(--cor--preta);
}
/* o hover serve para que quando passar o mouse, aconteça algo */
#header nav a:hover{
    background-color: var(--cor--principal);
    color: var(--cor--branca);
    border-radius: 20px;
}
/* . (ponto) cria uma classe. A diferença dela para o id, é que ela pode ser usada mais de uma vez na página */
.marginlateral{
    margin: 0px 20px;
}

main #banner{
    background-image: url("../img/Banner.png");
    height: calc(100vh - 116px);
    background-repeat: no-repeat;
    background-position: center center;
    /* o cover preenche 100% da tela */
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* ao colocar column, o eixo x vira y e o eixo y vira o x */
    justify-content: center;
    align-items: center;
    color: var(--cor--preta);
}

.marginCimaBaixo{
    margin: 20px 0px
}

main #banner h1{
    color: var(--cor--principal);
    /* o em é relativo a tela do seu dispositivo. cada em equivale a 16 ponto */
    font-size: 2em;
}
main #banner button{
    background-color: var(--cor--principal);
    color: var(--cor--branca);
    border: none;
    border-radius: 25px;
}

main #banner button:hover{
    cursor: pointer;
}

/* esse padding vai valer para todos os itens que estão sendo chamados */
#header, 
main #banner button, 
#header nav a:hover, 
#bemVindo div, 
main #beneficios #beneficios-nossosBeneficios, 
main #beneficios #beneficios-servicos, 
#rodape,
main #form #form-formulario form{
    padding: 15px
}

#bemVindo{
    /* o display: grid serve para separar */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#bemVindo #bemVindo-boasVindas h3{
    color: var(--cor--principal);
    margin-bottom: 10px;
}

main #beneficios{
    background-color: var(--cor--fundo);
    color: var(--cor--principal);
}

main #beneficios #beneficios-nossosBeneficios{
    color: var(--cor--principal);
}

main #beneficios #beneficios-nossosBeneficios,
main #beneficios #beneficios-servicos,
main #form #form-texto,
#rodape{
    text-align: center;
}


main #beneficios #beneficios-servicos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

main #form #form-formulario form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

main #form #form-formulario form input{
    display: block;
    padding: 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    border-radius: 10px;
    width: 380px;
    margin-bottom: 10px;
}

main #form #form-formulario form button, 
.form-formulario-cadastrar,
.form-clientes .form-registro form .botao button{
    padding: 8px;
    border: none;
    background-color: var(--cor--principal);
    color: var(--cor--branca);
    border-radius: 10px;
    width: 380px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    text-align: center;
    
}

main #form #form-formulario{
    background-image: url(../img/dog.png);
    background-repeat: no-repeat;
    /* contain pega o conteudo da imagem e coloca o que precisa */
    background-size: contain;
}

#rodape{
    background-color: var(--cor--topo);
}

.form-registro .grid-2,
.form-registro .grid-4,
.form-registro .grid-3 {
    display: grid;
    padding: 0px 0px;
}

.form-registro .grid-2 {
    grid-template-columns: 3fr 2fr;
}
.form-registro .grid-4 {
    grid-template-columns: 2fr 2fr 2fr 1fr;
}

.form-registro .grid-3 {
    grid-template-columns: 2fr 3fr 1fr;
}
.form-registro label {
    display: block;
    padding-bottom: 10px;
}
.form-registro{
    border-radius: 20px;
}


main #form.form-formulario-cachorro #form-formulario{
    background-image: none;
   }

main #form #form-texto{
    padding-top: 88px;
       
}

main #form #form-formulario form button{
    border-radius: 30px;
}

/* início das modificações do css do registro */
main #form.form-sem-cachorro #form-formulario{
    background-image: none;
}

main .form-formulario-possuo-cadastro a{
    text-decoration: none;
    color: var(--cor--preta);
}
#form-texto-registro h1{
    text-align: center;
}
main{
    padding: 30px;
}
/* finalização das modificações do css do registro */

/* style do dashboard */
#menu-dashboard{

    background-color: #D8F1FBCC;

}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

.dashboard #menu-dashboard a{
    text-decoration: none;
    color: var(--cor--preta);
    background-color: var(--cor--principal);
    border-radius: 10px;
    padding: 8px;
    border: none;
    width: 170px;
    justify-content: left;
    align-items: left;
    display: block;
    margin: 10px auto;
}

main .storymapper-dashboard div{
    background-color: white;
    width: auto;
    display: inline-block;
    margin: 20px;
    padding: 60px;
    color: black;
    border: solid black;
    border-radius: 10px;

}

.pagconsultas main #informe-consulta #registro h1{
    padding: 25px;
    width: 350px;
}
.pagconsultas main #informe-consulta #form-formulario-Consulta form{
    display: block;
}

.pagconsultas main #informe-consulta #form-formulario-Consulta form .grid-3{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 20px;
}
.pagconsultas main #informe-consulta #form-formulario-Consulta form input
.pagconsultas main #informe-consulta #form-formulario-Consulta form textarea{
     width: 100%;
     display: block;
     background: #FAFBFF;
     border: 1px solid rgba(0,0,0,0.19);
     box-shadow: 0px 8px -5px rgba(0,0,0,0.19);
     border-radius: 10px;
    }
.pagconsultas main  #informe-consulta {
    padding: 30;
}

.form-formulario-botao{
    display: flex;
    width: 300px;
}
.form-formulario-botao .botao-verde{
    background-color: #1CF365;
    margin-right: 10px;
}
.form-formulario-botao .botao-vermelho{
    background-color: #DF2F2F;
}

=======
<<<<<<< HEAD
}

.form-registro input{
    display: block;
    padding: 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    border-radius: 10px;
    width: 200px;
}

.form-registro form input{
    width: 100%;
}

.form-registro form div{
    padding: 5px;
}

.form-clientes .form-registro form .botao{
    display: flex;
    width: 300px;
}

.form-clientes .form-registro form .botao .btn-verde{
    background-color: #1CF365;
    margin-right: 10px;
}

.form-clientes .form-registro form .botao .btn-vermelho{
    background-color: #DF2F2F;
<<<<<<< HEAD
=======
>>>>>>> cbc2f55727f472ac951190a919fac8199e830e57
}
>>>>>>> 44e8a5e021274aa99b334c8a608986c100ea96cc
=======
    
}
>>>>>>> 9d7495fb2b07d8835d19a517a8a346d804d5a65a
